<p>This is the partial for view 2.</p>

<form>
    Name: <input type="text" ng-model="serie.name" /> <p/>
    Season: <input type="text" ng-model="serie.season" /> <p/>
    Chapter: <input type="text" ng-model="serie.chapter" /> <p/>
    Enabled: <input type="checkbox" ng-model="serie.enabled"> <p/>
    Url: <input type="text" ng-model="serie.url" /> <p/>
    xpath: <input type="text" ng-model="serie.xpath" /> <p/>
    xpath_link: <input type="text" ng-model="serie.xpath_link" /> <p/>
    xpath_title: <input type="text" ng-model="serie.xpath_title" /> <p/>
    link_prefix: <input type="text" ng-model="serie.link_prefix" /> <p/>
    link_mask: <input type="text" ng-model="serie.link_mask" /> <p/>
    file_mask: <input type="text" ng-model="serie.file_mask" /> <p/>
    title_mask: <input type="text" ng-model="serie.title_mask" /> <p/>
</form>

