<table>
    <h1 align="center">Scrapy Downloader Series</h1>

    <hr>
    <div ng-repeat-start="serie in series"></div>
    <table class="table table-bordered">
        <tr>
        <td width="200">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success" ng-click="">Edit</button>
                <button type="button" class="btn btn-danger" ng-click="confirmDelete(serie)">Delete</button>
            </div>
        </td>
        <td valign="center"><h4>{{serie.name}}</h4></td>
        </tr>
        <tr>
        <td>Season</td>
        <td>{{serie.season}}</td>
        </tr>
        <tr>
        <td>Chapter</td>
        <td>{{serie.chapter}}</td>
        </tr>
        <tr>
        <td>Enabled</td>
        <td>{{serie.enabled}}</td>
        </tr>
        <tr>
        <td>Url</td>
        <td><a href="{{serie.url}}" target="_blank">{{serie.url}}</a></td>
        </tr>
        <tr>
        <td>xpath</td>
        <td>{{serie.xpath}}</td>
        </tr>
        <tr>
        <td>xpath_link</td>
        <td>{{serie.xpath_link}}</td>
        </tr>
        <tr>
        <td>xpath_title</td>
        <td>{{serie.xpath_title}}</td>
        </tr>
        <tr>
        <td>link_prefix</td>
        <td>{{serie.link_prefix}}</td>
        </tr>
        <tr>
        <td>link_mask</td>
        <td>{{serie.link_mask}}</td>
        </tr>
        <tr>
        <td>file_mask</td>
        <td>{{serie.file_mask}}</td>
        </tr>
        <tr>
        <td>title_mask</td>
        <td>{{serie.title_mask}}</td>
        </tr>
    </table>
    <div ng-repeat-end><br><br></div>
</table>
